.DS_Store
node_modules
public/bundle.*
public/assets/js/bundle.*
public/assets/css/bundle.*
*.swp
dist/
deploy-gh-page.sh
local-build/
tiny-vgg/data/
tiny-vgg/__MACOSX/
imdb/resources/
imdb/backup/
public/resources/
tiny-vgg/localModel/
.vscode/